#topbar {
	background: #828896;
	display: block;
	height: 40px;
	left: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	z-index: -1;
}
#masthead,
#main {
	margin: 0 auto;
	width: 981px;
}
#masthead > h1 {
	display: inline-block;
	font-size: 30px;
	margin-top: 4px;
	width: 200px;
}
#masthead > h1 > a {
	color: black;
	text-decoration: none;
}
#masthead > h1 > a:hover {
	background: #e6e6e6;
}
#masthead > nav,
#masthead > nav > menu {
	display: inline-block;
}
#masthead > nav {
	float: right;
	margin-top: 10px;
}
#masthead > nav > menu > li {
	display: inline-block;
	list-style: none;
	margin-left: 15px;
}
#masthead > nav > menu > li:first-of-type {
	margin-left: 0;
}
#masthead > nav > menu > li > a {
	color: #0000ff;
}
#gadgets,
#content {
	position: absolute;
	padding-top: 10px;
	top: 40px;
}
#gadgets {
	float: left;
	overflow: hidden;
	width: 200px;
}
#content {
	margin-left: 210px;
	width: 781px;
}
#gadgets > menu > li {
	list-style: none;
}
#gadgets > menu > li > h1 {
	background: #e6e6e6;
	padding: 5px 0 5px 15px;
}
#dock {
	position: fixed;
	bottom: 0;
	right: 20px;
	background: #e6e6e6;
	height: 
}
#dock .content {
	position: fixed;
	bottom: 30px;
	max-height: 600px;
	max-width: 400px;
	overflow: hidden;
}
