#topbar {
	background: #828896;
	display: block;
	height: 40px;
	left: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	z-index: -1;
}
body > header,
body > footer,
#main {
	margin: 0 auto;
	width: 981px;
}
body > header > h1 {
	display: inline-block;
	font-size: 30px;
	margin-top: 4px;
	width: 200px;
}
body > header > nav,
body > header > nav > menu {
	display: inline-block;
}
body > header > nav {
	float: right;
	margin-top: 10px;
}
body > header > nav > menu > li {
	display: inline-block;
	list-style: none;
	margin-left: 15px;
}
body > header > nav > menu > li:first-of-type {
	margin-left: 0;
}
#gadgets, #content {
	position: absolute;
	top: 40px;
	padding-top: 10px;
}
#gadgets {
	float: left;
	width: 200px;
	overflow: hidden;
}
#content {
	padding-left: 200px;
}
#gadgets > menu > li {
	list-style: none;
}
#gadgets > menu > li > h1 {
	background: #e6e6e6;
	padding: 5px 0 5px 15px;
}
#gadgets > menu > li > section {
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
}
