#contactlist {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
#contactlist .group {
}
#contactlist .contact:hover {
	background: #e6e6e6;
}
#contactlist .resource:hover {
	background: #e6e6e6;
}
