#contactlist {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
#contactlist .group {
}
#contactlist .contact > a:hover {
	color: #ff0000;
}
#contactlist .resource > a:hover {
	background: #e6e6e6;
}
