#contactlist {
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}
#contactlist .group {
}
#contactlist .contact:hover {
	background: #e6e6e6;
}
#contactlist .resource:hover {
	background: #e6e6e6;
}
