<article>
	<header>
		<h1>Chat with: {{name}} ({{jid}})</h1>
	</header>
	<section id="chatlog"></section>
	<form id="chatcomposer">
		<textarea placeholder="Enter a chat message..."></textarea>
		<input type="submit" value="Send"/>
	</form>
</article>