<p class="contact">
{{#resource}}
	Online!
{{/resource}}
{{^resource}}
	Offline!
{{/resource}}
	<a href="/chat/{{jid}}">{{name}}</a>
</p>
<ul class="resources">
{{#resources}}
	<li class="resource"><a href="/chat/{{jid}}/{{resource}}">{{resource}}</a></li>
{{/resources}}
</ul>