{{! This file is part of Web Client }}
{{! @author Copyright (c) 2010 Sebastiaan Deckers }}
{{! @license GNU General Public License version 3 or later }}
<section id="signin">
	<form>
		<label for="signin-address">IM Address</label>
		<input type="email" id="signin-address"/>
		<label for="signin-password">Password</label>
		<input type="password" id="signin-password"/>
		<input type="submit" value="Sign In"/>
	</form>
</section>
