<hr id="topbar"></hr>
<header id="masthead">
	<h1><a href="">Tribe.im</a></h1>
	<nav id="menubar">
		<menu></menu>
	</nav>
</header>
<section id="main">
	<aside id="gadgets">
		<menu></menu>
	</aside>
	<section id="content"></section>
</section>
<footer id="dock"></footer>