{{! This file is part of Web Client }}
{{! @author Copyright (c) 2010 Sebastiaan Deckers }}
{{! @license GNU General Public License version 3 or later }}
<header>
	<h1>Tribe.im</h1>
	<nav id="menubar">
		<menu></menu>
	</nav>
</header>
<aside id="gadgets"></aside>
<section id="content"></section>
<footer></footer>
